* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Set the webpage background color*/
body {
    background-color: #d9dcd6;
}
/* Set the header section's color, font, and font color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Sets the font color and size for the company's name that's displayed on the website's header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Changes the "seo" within the brand's name to be an offset color from the rest of the letters */
.header h1 .seo {
    color: #d9dcd6;
}
/* Sets the navigation links location to the right side of the header section, and establishes the font size and color  */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* This prevents a bullet point from appearing in front of the words in the navigation bar */
.header nav ul {
    list-style-type: none;
}
/* This sets the margins between the blocks containing the navigation words */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* This sets the font color for the navigation bar words */
a {
    color: #ffffff;
    text-decoration: none;
}
/* This establishes the font size for anything with the p class to 16 pixels  */
p {
    font-size: 16px;
}
/* This formats the image size for the main webpage image to a height of 800 pixels, a width that will always span the page's width without 
scrolling and contains the image's location */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* This is used to position the images and create a margin separating the rest of the section's content */
.float-left {
    float: left;
    margin-right: 25px;
}
/* This is used to position the images and create a margin separating the rest of the section's content */
.float-right {
    float: right;
    margin-left: 25px;
}
/* This establishes the amount of space this block section will take up on the rendered screen (75% of it) and sets the margin away from the
left part of the screen */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* This establishes the position of this block section to the right part of the screen, establishes the size of it (20%) of the screen,
the font used within it, and the block section's background color. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Sets the margin space underneath the section before the next section starts, also sets the font color to white */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Sets the margin space underneath the section before the next section starts, also sets the font color to white */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Sets the margin space underneath the section before the next section starts, also sets the font color to white */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/* Sets the alignment of the aside section's header to the center and how far it sets the margin from the items above */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Sets the alignment of the aside section's header to the center and how far it sets the margin from the items above */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* Sets the alignment of the aside section's header to the center and how far it sets the margin from the items above */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* sets the image size for within the section's block */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* sets the image size for within the section's block */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* sets the image size for within the section's block */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* sets the content block section's padding, the bottom margin separarting it from the other section, font type, font color,
and background color */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* sets the content block section's padding, the bottom margin separarting it from the other section, font type, font color,
and background color */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* sets the content block section's padding, the bottom margin separarting it from the other section, font type, font color,
and background color */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* sets the max height of the image to 200 pixels */
.search-engine-optimization img {
    max-height: 200px;
}
/* sets the max height of the image to 200 pixels */
.online-reputation-management img {
    max-height: 200px;
}
/* sets the max height of the image to 200 pixels */
.social-media-marketing img {
    max-height: 200px;
}
/* sets the section's header text size and bottom margin size */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets the section's header text size and bottom margin size */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets the section's header text size and bottom margin size */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets the footer sections block padding, font type, and text alignment to the center */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sets the font size of the footer's header text */
.footer h2 {
    font-size: 20px;
}
